
<div class="container">
    <!-- BLOG ENTRY - IMG LEFT -->
    <div class="row">
        <!-- BLOG TITLE -->
        <div class="col-md-12" style="margin:2em; margin-left:0em">
            <h1>Blog entry with image on the left</h1>
        </div>
        <!-- BLOG DATA -->
        <div class="col-md-12">
            <!-- BLOG IMAGE -->
            <img src = "/images/logo.png" class="img-responsive pull-left hidden-xs" style="margin-right:2em">
            <img src = "/images/logo.png" class="img-responsive visible-xs" style="margin:1em auto; width:90%">
            <!-- BLOG TEXT -->
            <p style="text-align:justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis semper neque. Vestibulum sit amet ornare eros.
                Nullam eget magna eleifend, congue magna ac, suscipit neque. Integer rutrum nisi magna, non ullamcorper ligula tincidunt nec.
                Integer feugiat augue eu purus aliquet, vel condimentum nulla bibendum. Sed mollis libero sit amet ex commodo cursus.
                Aliquam erat volutpat.
            </p>
            <p style="text-align:justify">
                Duis iaculis lorem in velit congue, non porttitor lorem lobortis. Ut ut pretium est, in cursus dolor.
                Curabitur erat nisi, hendrerit non nisl vel, fermentum laoreet turpis. Nunc ullamcorper nisl id condimentum imperdiet.
                Quisque venenatis lectus ut justo vehicula, quis fringilla odio sodales.
                In vitae ligula nec magna gravida faucibus in eget augue. Sed sollicitudin dignissim dui, eget facilisis ex pellentesque at.
                Fusce sit amet felis accumsan felis faucibus aliquet et sed odio.
                Pellentesque facilisis orci et sapien blandit, sit amet tristique libero finibus.
                Nullam velit mi, semper congue orci nec, blandit bibendum mauris.
                Pellentesque mattis venenatis lorem, sed mollis nisi ornare et. Sed sed vulputate est.
                Integer vel nisl tempor, feugiat tortor vitae, commodo dui.
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            </p>            
            <p style="text-align:justify">
                In hac habitasse platea dictumst. Suspendisse tempor dignissim risus, vitae hendrerit libero placerat at.
                Integer eu congue justo. Nullam in laoreet tellus. Curabitur scelerisque metus nec gravida ultricies.
                Proin blandit diam elit, et fermentum augue aliquet sed. In aliquam ornare quam, non rhoncus turpis efficitur in.
                Vestibulum ornare aliquam metus, eu condimentum arcu consequat in. Donec magna leo, aliquam at turpis et, lobortis accumsan arcu.
                In tincidunt ornare arcu, sit amet vehicula orci ultrices quis. Curabitur porttitor dapibus arcu, eget tincidunt felis posuere eget.
                Sed ut augue non mauris vehicula dignissim ut et magna. Sed pellentesque velit tortor, at aliquet libero tincidunt a.
            </p>
        </div>
    </div>

    <!-- BLOG ENTRY - IMG RIGHT -->
    <div class="row">
        <!-- BLOG TITLE -->
        <div class="col-md-12" style="margin:2em; margin-left:0em">
            <h1>Blog entry with image on the right</h1>
        </div>
        <!-- BLOG DATA -->
        <div class="col-md-12">
            <!-- BLOG IMAGE -->
            <img src = "/images/logo.png" class="img-responsive pull-right hidden-xs" style="margin-left:2em">
            <img src = "/images/logo.png" class="img-responsive visible-xs" style="margin:1em auto; width:90%">
            <!-- BLOG TEXT -->
            <p style="text-align:justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis semper neque. Vestibulum sit amet ornare eros.
                Nullam eget magna eleifend, congue magna ac, suscipit neque. Integer rutrum nisi magna, non ullamcorper ligula tincidunt nec.
                Integer feugiat augue eu purus aliquet, vel condimentum nulla bibendum. Sed mollis libero sit amet ex commodo cursus.
                Aliquam erat volutpat.
            </p>
            <p style="text-align:justify">
                Duis iaculis lorem in velit congue, non porttitor lorem lobortis. Ut ut pretium est, in cursus dolor.
                Curabitur erat nisi, hendrerit non nisl vel, fermentum laoreet turpis. Nunc ullamcorper nisl id condimentum imperdiet.
                Quisque venenatis lectus ut justo vehicula, quis fringilla odio sodales.
                In vitae ligula nec magna gravida faucibus in eget augue. Sed sollicitudin dignissim dui, eget facilisis ex pellentesque at.
                Fusce sit amet felis accumsan felis faucibus aliquet et sed odio.
                Pellentesque facilisis orci et sapien blandit, sit amet tristique libero finibus.
                Nullam velit mi, semper congue orci nec, blandit bibendum mauris.
                Pellentesque mattis venenatis lorem, sed mollis nisi ornare et. Sed sed vulputate est.
                Integer vel nisl tempor, feugiat tortor vitae, commodo dui.
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            </p>            
            <p style="text-align:justify">
                In hac habitasse platea dictumst. Suspendisse tempor dignissim risus, vitae hendrerit libero placerat at.
                Integer eu congue justo. Nullam in laoreet tellus. Curabitur scelerisque metus nec gravida ultricies.
                Proin blandit diam elit, et fermentum augue aliquet sed. In aliquam ornare quam, non rhoncus turpis efficitur in.
                Vestibulum ornare aliquam metus, eu condimentum arcu consequat in. Donec magna leo, aliquam at turpis et, lobortis accumsan arcu.
                In tincidunt ornare arcu, sit amet vehicula orci ultrices quis. Curabitur porttitor dapibus arcu, eget tincidunt felis posuere eget.
                Sed ut augue non mauris vehicula dignissim ut et magna. Sed pellentesque velit tortor, at aliquet libero tincidunt a.
            </p>
        </div>
    </div>

    <!-- BLOG ENTRY - NO IMG -->
    <div class="row">
        <!-- BLOG TITLE -->
        <div class="col-md-12" style="margin:2em; margin-left:0em">
            <h1>Blog entry with no image</h1>
        </div>
        <!-- BLOG DATA -->
        <div class="col-md-12">
            <!-- BLOG TEXT -->
            <p style="text-align:justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis semper neque. Vestibulum sit amet ornare eros.
                Nullam eget magna eleifend, congue magna ac, suscipit neque. Integer rutrum nisi magna, non ullamcorper ligula tincidunt nec.
                Integer feugiat augue eu purus aliquet, vel condimentum nulla bibendum. Sed mollis libero sit amet ex commodo cursus.
                Aliquam erat volutpat.
            </p>
            <p style="text-align:justify">
                Duis iaculis lorem in velit congue, non porttitor lorem lobortis. Ut ut pretium est, in cursus dolor.
                Curabitur erat nisi, hendrerit non nisl vel, fermentum laoreet turpis. Nunc ullamcorper nisl id condimentum imperdiet.
                Quisque venenatis lectus ut justo vehicula, quis fringilla odio sodales.
                In vitae ligula nec magna gravida faucibus in eget augue. Sed sollicitudin dignissim dui, eget facilisis ex pellentesque at.
                Fusce sit amet felis accumsan felis faucibus aliquet et sed odio.
                Pellentesque facilisis orci et sapien blandit, sit amet tristique libero finibus.
                Nullam velit mi, semper congue orci nec, blandit bibendum mauris.
                Pellentesque mattis venenatis lorem, sed mollis nisi ornare et. Sed sed vulputate est.
                Integer vel nisl tempor, feugiat tortor vitae, commodo dui.
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            </p>            
            <p style="text-align:justify">
                In hac habitasse platea dictumst. Suspendisse tempor dignissim risus, vitae hendrerit libero placerat at.
                Integer eu congue justo. Nullam in laoreet tellus. Curabitur scelerisque metus nec gravida ultricies.
                Proin blandit diam elit, et fermentum augue aliquet sed. In aliquam ornare quam, non rhoncus turpis efficitur in.
                Vestibulum ornare aliquam metus, eu condimentum arcu consequat in. Donec magna leo, aliquam at turpis et, lobortis accumsan arcu.
                In tincidunt ornare arcu, sit amet vehicula orci ultrices quis. Curabitur porttitor dapibus arcu, eget tincidunt felis posuere eget.
                Sed ut augue non mauris vehicula dignissim ut et magna. Sed pellentesque velit tortor, at aliquet libero tincidunt a.
            </p>
        </div>
    </div>

    <!-- BLOG NAVIGATION -->
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-3">
            <h3 style="text-align:left">Newer</h3>
        </div>
        <div class="col-xs-3">
            <h3 style="text-align:right">Older</h3>
        </div>
        <div class="col-xs-3"></div>
    </div>

</div>