<div class="container">
    <div class="row" style="margin-top:100px;" >
        <div class="col-md-4" >
            <img class="img-responsive img-rounded" src="~/images/logo.png" >
        </div>
        <div class"col-md-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque viverra dictum nisl ut suscipit. Etiam porttitor porttitor tempus. In a enim rutrum, aliquet tellus id, tempor felis. Quisque molestie porta ultricies. Morbi feugiat accumsan massa ut malesuada. Quisque varius at est eu varius. Sed luctus nulla mauris, et aliquet risus porttitor nec. Pellentesque dapibus ipsum vel rhoncus ultrices. Curabitur rutrum libero vel libero faucibus, a ultricies ligula placerat. Etiam quis lorem feugiat, congue lacus sed, porta eros. Etiam rhoncus id turpis eu accumsan. Nullam eget est quis ipsum efficitur maximus eu at odio.Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In lobortis blandit fermentum. Morbi posuere, metus nec ultrices dapibus, metus dolor luctus purus, et laoreet nulla erat ut purus. Proin sit amet justo in mi condimentum mattis at quis nibh. Praesent sodales, dolor non vulputate mollis, ligula eros scelerisque sem, vitae ornare elit enim sit amet turpis. Praesent placerat augue nec felis egestas, molestie fringilla lorem malesuada. Vestibulum elementum, purus vel pulvinar volutpat, arcu tellus consequat nisi, quis vehicula quam sapien vel ante. Phasellus consequat rhoncus libero a condimentum. Fusce egestas purus mi, id luctus ligula porttitor eu. Fusce ullamcorper porttitor pharetra. Proin malesuada id quam eu luctus.</p>
        </div>
    </div>
    <div class="row"  style="margin-top:100px; " >
        <div class="col-md-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque viverra dictum nisl ut suscipit. Etiam porttitor porttitor tempus. In a enim rutrum, aliquet tellus id, tempor felis. Quisque molestie porta ultricies. Morbi feugiat accumsan massa ut malesuada. Quisque varius at est eu varius. Sed luctus nulla mauris, et aliquet risus porttitor nec. Pellentesque dapibus ipsum vel rhoncus ultrices. Curabitur rutrum libero vel libero faucibus, a ultricies ligula placerat. Etiam quis lorem feugiat, congue lacus sed, porta eros. Etiam rhoncus id turpis eu accumsan. Nullam eget est quis ipsum efficitur maximus eu at odio.Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In lobortis blandit fermentum. Morbi posuere, metus nec ultrices dapibus, metus dolor luctus purus, et laoreet nulla erat ut purus. Proin sit amet justo in mi condimentum mattis at quis nibh. Praesent sodales, dolor non vulputate mollis, ligula eros scelerisque sem, vitae ornare elit enim sit amet turpis. Praesent placerat augue nec felis egestas, molestie fringilla lorem malesuada. Vestibulum elementum, purus vel pulvinar volutpat, arcu tellus consequat nisi, quis vehicula quam sapien vel ante. Phasellus consequat rhoncus libero a condimentum. Fusce egestas purus mi, id luctus ligula porttitor eu. Fusce ullamcorper porttitor pharetra. Proin malesuada id quam eu luctus.</p>
        </div>
        <div class="col-md-4" >
            <img class="img-responsive img-rounded" src="~/images/logo.png" >
        </div>   
    </div>
</div>