<div class="row" Style="margin-top:50px; Text-align: center;">
        <div class="textarea">
            <h1 style="text-align:center;">About Us</h1>
            <h4>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</h4>
        </div>
</div>
<div class="row" style="margin-top:50px;">
    <div class="col-sm-4">
        <img class="img-responsive img-rounded" src="~/images\Sing.jpg" alt="profile pic1">
    </div>
    <div class="col-sm-8">
        <h1>CEO-Sing<br></h1>
        <h4>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</h4>
        <blockquote style="padding-top:100px;text-align:right">
            "GIVE ME 100 DOLLARS, I WILL GIVE U THE COPYRIGHT" 
            <footer>  Sing 2017</footer>
        </blockquote>
    </div>
</div>
<div class="row">
    <div class="row" style="text-align: center; margin-top:100px;" >
        <div class="col-sm-2" Style=" margin-left:3%; margin-right:3%">
            <img class="img-responsive img-rounded" src="~/images\Josh.jpg">
            <h3>Manager-Josh</h3>
            <h5> ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4>
        </div>
        <div class="col-sm-2" Style=" margin-left:3%; margin-right:3%">
            <img class="img-responsive img-rounded" src="~/images\Vince.jpg">
            <h3>Technician-Vince</h3>
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4>
        </div>
        <div class="col-sm-2" Style=" margin-left:3%; margin-right:3%">
            <img class="img-responsive img-rounded" src="~/images\Will.jpg">
            <h3>Programmer-Will</h3>
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4>
        </div>
        <div class="col-sm-2" Style=" margin-left:3%; margin-right:3%">
            <img class="img-responsive img-rounded" src="~/images\Joesf.jpg">
            <h3>Artist-Joesf</h3>
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4>
        </div>
    </div>
</div>